<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PetrolAkaryakıt.Properties.Settings.BenzinConnectionString" connectionString="Data Source=DESKTOP-0EB5H2Q\SQLEXPRESS;Initial Catalog=Benzin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="PetrolAkaryakıt.Properties.Settings.benzinakaryakıtConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\benzinakaryakıt.mdb" providerName="System.Data.OleDb"/>
    <add name="PetrolAkaryakıt.Properties.Settings.benzinakaryakıtConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\benzinakaryakıt.mdb" providerName="System.Data.OleDb"/>
    <add name="PetrolAkaryakıt.Properties.Settings.akaryakıtotomasyonConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\akaryakıtotomasyon.mdb" providerName="System.Data.OleDb"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
